.resume-card{

    background:white;

    border-radius:28px;

    padding:50px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:
    0 25px 60px rgba(15,23,42,.06);

    border:1px solid #EEF2F7;

    gap:40px;

}

.resume-card-tag{

    color:#6366F1;
    font-size:13px;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;

}

.resume-card h2{

    margin:12px 0;

    font-size:38px;

    color:#1E293B;

}

.resume-card p{

    max-width:620px;

    color:#64748B;

    line-height:1.7;

}

.create-button{

    border:none;

    background:#4F46E5;

    color:white;

    font-size:16px;

    font-weight:700;

    padding:18px 34px;

    border-radius:16px;

    transition:.3s;

    white-space:nowrap;

}

.create-button:hover{

    transform:translateY(-3px);

    box-shadow:0 20px 35px rgba(79,70,229,.25);

}