.wizard-footer{

    display:flex;

    justify-content:space-between;

}

.wizard-footer button{

    border:none;

    padding:15px 28px;

    border-radius:12px;

    font-weight:700;

    cursor:pointer;

}

.wizard-footer button:first-child{

    background:#E2E8F0;

}

.wizard-footer button:last-child{

    background:#4F46E5;

    color:white;

}