.step-content{

    background:white;

    padding:60px;

    border-radius:24px;

    box-shadow:0 20px 50px rgba(15,23,42,.05);

}

.step-content p{

    color:#6366F1;

    font-weight:700;

}

.step-content h1{

    margin:10px 0 40px;

    font-size:38px;

}

.placeholder{

    height:320px;

    border:2px dashed #CBD5E1;

    border-radius:16px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#94A3B8;

}