.step-progress{

    display:flex;

    justify-content:space-between;

    gap:10px;

    flex-wrap:wrap;

}

.step-item{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:10px;

    flex:1;

}

.circle{

    width:48px;

    height:48px;

    border-radius:50%;

    border:2px solid #D1D5DB;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:700;

    color:#94A3B8;

    transition:.3s;

}

.circle.active{

    background:#4F46E5;

    border-color:#4F46E5;

    color:white;

}

.step-item p{

    font-size:14px;

    color:#64748B;

}